:root {
  min-height: 100vh;
  min-width: 100vw;
}

.alertDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.notActive {
  color: rgb(8, 171, 8);
}

.active {
  color: rgb(179, 10, 10);
}

.findShelterButton {
  text-decoration: none;
  padding: 0.5rem;
  background-color: crimson;
  color: aliceblue;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.findShelterButton:hover {
  background-color: aliceblue;
  color: crimson;
  cursor: grab;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  border-radius: 8px;
  height: 80vh;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #f3f4f6;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.loadingDiv {
  display: 'flex';
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}